.search-main-panel {
	background-color: #EFEFEF;
}

.search-input-text {
	font-family: inherit;
	font-size: 12px;
	height: 20px;
	width: 500px;
	text-indent: 3px;
}

.search-btn-div-default {
	height: 22px;
	width: 85px;
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	border-collapse: separate;
	border-spacing: 2px; 
}

.search-btn-div-mini {
	margin-left: 10px;
	height: 22px;
	width: 45px;
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	border-collapse: separate;
	border-spacing: 2px; 
}

.search-btn-default {
	font-family: inherit;
	font-weight: bold;
	color: white;
	height: 22px;
	width: 100%;
	background: transparent;
	border: 0;
	position: relative;
	overflow: hidden;
}

.search-btn-advanced {
	font-family: inherit;
	font-weight: bold;
	color: white;
	height: 22px;
	width: 100%;
	background: transparent;
	border: 0;
	position: relative;
	overflow: hidden;
}

.search-result-panel {
	padding: 15px;
}

.search-result-panel DIV {
	padding-bottom: 2px;
}

.search-result-icon {
	padding:	5px; 
	width:		20px;
}

.search-result-header A {
	font-size: 14px;
	color: darkred;
}

.search-result-header IMG {
	width: 			18px;
	vertical-align: bottom;
}

.search-result-header A {
	font-size: 14px;
	color: darkred;
}


.search-table-options {
    border-spacing: 1px;
}
