/* Core styles for the page */
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Calibri", sans-serif;
	font-size: 0.8em;
	color: #363636;
}

table {
        border-spacing: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: 0px;
}

select {
	font-family: inherit;
	font-size: inherit;
}

.app-panel {
	background-color: #2D2D2D;
	color: whiteSmoke;
	font-weight: bold;
}

.info-stats-panel {
	border: 2px solid lightSteelBlue;
	margin: 15px;
	padding: 15px;
}

.info-panel {
	border: 2px solid lightSteelBlue;
	margin: 15px;
	padding: 15px;
}

.banner-table {
	border: 1px dashed lightSteelBlue;
	border-spacing: 1px;
	margin: 5px;
	padding: 5px;
	width: 165px;
	font-size: 11px;
}

.banner-table IMG {
	width: 160px;
	height: 90px;
}

.news-container-div {
	z-index: 	2;
	overflow: 	hidden;
	position: 	absolute;
	left: 		25%;
	right: 		25%;
	top:		25%;
	background: whitesmoke;
	opacity:	0.8;
}

.news-inner-div {
	border: 	1px solid darkred;
	margin: 	10px;
}

/* HOME styles */
.top_nav_bar {
	width: 		100%;
	position: 	fixed;
	z-index: 	990;
	top:		0;
	left: 		0;
	background: transparent url("resources/gfx/bg/bg_nav_fade.png" repeat-x 0 62px);
	height: 	100px;
}