/* Core styles for the page */
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Calibri", sans-serif;
	font-size: 0.8em;
	color: #363636;
}

select {
	font-family: inherit;
	font-size: inherit;
}

.app-panel {
	background-color: #2D2D2D;
	color: whiteSmoke;
	font-weight: bold;
}

.search-main-panel {
	background-color: #EFEFEF;
}

.search-result-panel {
	padding: 15px;
}

.tracplus-input-text {
	font-family: inherit;
	font-size: 12px;
	height: 20px;
	width: 500px;
	text-indent: 3px;
}

.search-btn-div-default {
	height: 22px;
	width: 85px;
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	border-collapse: separate;
	border-spacing: 2px; 
}

.search-btn-div-mini {
	margin-left: 10px;
	height: 22px;
	width: 45px;
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	border-collapse: separate;
	border-spacing: 2px; 
}

.search-btn-default {
	font-family: inherit;
	font-weight: bold;
	color: white;
	height: 22px;
	width: 100%;
	background: transparent;
	border: 0;
	position: relative;
	overflow: hidden;
}

.search-btn-precise {
	font-family: inherit;
	font-weight: bold;
	color: white;
	height: 22px;
	width: 100%;
	background: transparent;
	border: 0;
	position: relative;
	overflow: hidden;
}

.search-btn-advanced {
	font-family: inherit;
	font-weight: bold;
	color: white;
	height: 22px;
	width: 100%;
	background: transparent;
	border: 0;
	position: relative;
	overflow: hidden;
}

.info-stats-panel {
	border: 2px solid lightSteelBlue;
	margin: 15px;
	padding: 15px;
}

.info-panel {
	border: 2px solid lightSteelBlue;
	margin: 15px;
	padding: 15px;
}